/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  background: #1f1f1f;
  // background: rgb(0,67,130);
  // background: linear-gradient(90deg, rgba(0,67,130,1) 0%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 69%, rgba(105,0,104,1) 100%);
  font-family: "M PLUS 1 Code", sans-serif;
}

.navbar {
  border-bottom: 5px solid #570000;
}

#navBrand {
  color: #fff;
  font-size: 2rem;
  text-shadow: 0 0 7px #fff, 0 0 10px #570000, 0 0 21px #570000,
    0 0 42px #570000, 0 0 82px #570000;
}

#navLink {
  font-size: 1rem;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #570000, 0 0 21px #570000,
    0 0 42px #570000, 0 0 82px #570000;
}

#navLinkName {
  color: #ff0000;
  text-shadow: 0 0 7px #fff, 0 0 10px #570000, 0 0 21px #570000,
    0 0 42px #570000, 0 0 82px #570000;
}

a:visited {
  text-decoration: none;
}

.neonTextTitle:hover {
  text-decoration: none;
  color: white;
}

.neonTextTitle {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #570000, 0 0 21px #570000,
    0 0 42px #570000, 0 0 82px #570000;
  // 0 0 92px #0fa,
  // 0 0 102px #0fa,
  // 0 0 151px #0fa;
}

.neonText {
  font-size: 1rem;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #570000, 0 0 21px #570000,
    0 0 42px #570000, 0 0 82px #570000;
  // 0 0 92px #0fa,
  // 0 0 102px #0fa,
  // 0 0 151px #0fa;
}

.price {
  font-size: 2rem;
}

.card {
  max-width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3) 66%,
    rgba(99, 0, 0, 0.3) 100%
  );
  border: 2px solid #870000;
  box-shadow: 0 0 7px #870000, 0 0 10px #870000, 0 0 21px #570000,
    0 0 42px #570000;
}

.card-img-container {
  max-height: 20rem;
  // max-width: 15rem;
}

.card-img {
  object-fit: cover;
  height: 100%;
  // width: auto;
}

.form-inputs {
  max-width: 30rem;
}

.btn {
  background-color: #570000;
}
